@page
@model pets.Pages.ShoppingModel
@{
}
<h2>Pets</h2>

<form method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search" name="searchString">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </div>
</form>

<div class="row">
    @foreach (var pet in Model.Pets)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@pet.ImageURL" class="card-img-top" alt="@pet.Name" width="100" height="200">
                <div class="card-body">
                    <h5 class="card-title">@pet.Name</h5>
                    <p class="card-text">Price: @pet.Price</p>
                    <p class="card-text">@pet.Description</p>
                    <form method="post">
                        <input type="hidden" name="petId" value="@pet.PetID" />
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>